[user]
	name = GREJARTE-ALTHEA
	email = grejartealtheakyle_bsit@plmun.edu.ph
[safe]
	directory = /storage/emulated/0/Documents/infmgmt-it2p-le001-GREJARTE-ALTHEA
	directory = /storage/emulated/0/Documents/infmgmt-it2p-le002-GREJARTE-ALTHEA
